<h1>Our first view 🚀</h1>

<div class="container mt-4">
  <form action="/answer" data-turbo="false" class="row g-3">
    <div class="col-12">
      <input
        type="text"
        name="question"
        class="form-control"
        placeholder="Ask a question?"
        required>
    </div>
    <div class="col-12 text-center">
      <input
        type="submit"
        value="Ask!"
        class="btn btn-primary">
    </div>
  </form>
</div>
